body {
    background: url("../../static/img/img1.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
        display: flex;
        background-color: #eee;
        padding: 10px;
        justify-content: space-between;
      }

      nav a {
        padding: 10px;
        border-radius: 5px;
        color: black;
        transition: background-color 0.3s ease;
        text-decoration: none;
        margin-right: 10px;
      }

      nav a:hover {
        background-color: red;
      }

    nav div{
      text-align: right;
    }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(0, 0, 0, 0.479);

}

.container p{
  padding: 20px;

}

.container_p{
  display: flex;
  justify-content:center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.479);
}

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
  
  th {
    text-align: left;
  }
  
  thead {
    th {
      background-color: #498988;
    }
  }
  

.deposit button{
  background-color: rgb(0, 50, 100);
    color: #ffffff;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.deposit button:hover {
  color: greenyellow;
}
.deposit a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.withdraw button{
  background-color: rgb(0, 50, 100);
    color: #ffffff;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.withdraw button:hover {
  color: greenyellow;
}
.withdraw a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

