{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank of Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav>
        <a href="/home/">HOME</a>
        <a href="/account_open/">CREATE ACCOUNT</a>
        <a href="/login/">LOGIN</a>
    </nav>
    <header>
        <h1>Welcome to <span style="color: red;">ALPHA</span> bank </h1>
    </header>

    <main>
        <div style="height: 100px;">

        </div>
        <section style="padding-left: 10%;padding-right: 10%;">
            <h2>Internet Banking</h2><br>
            <p class="typewriter-text">
                Alpha Bank provides various internet banking facilities that help and ease 
                the banking experience of the Alpha Bank account holders. At Alpha Bank, we 
                believe in providing best banking services at your comfort. Alpha Bank's 
                internet banking allows you do most of your banking process online at your 
                convenience. Below are some of the internet banking features & services. Go
                through the Internet Banking features that make internet banking services 
                easy and understandable.
            </p>
        </section>
        <section style="padding-left: 10%;padding-right: 10%; padding-top: 5%;">
            <h2>Open an Account Today</h2><br>
            <p>
                Start your journey with ALPHA bank . Open an account today and enjoy the benefits of our services.
            </p>
            <a href="/account_open/" class="cta-button">Open an Account</a>
        </section>
    </main>
    <section class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="box">
                        <h4>About Us</h4>
                        <div>
                            <ul class="list">
                                <li>Overview</li>
                                <li>Investor Relations</li>
                                <li> Careers</li>
                                <li>Other Stakeholders' Information</li>
                                <li>  News Room</li>
                                <li>Corporate Governance</li>
                                <li>CSR</li>
                                <li>Link to ODR Portal</li>
                                <li>Regulatory Disclosures</li>
                            </ul>
                        </div>
                    </div>
                </div>   
                <div class="col">
                    <div class="box">
                        <h4>Useful Links</h4>
                        <div>
                            <ul>
                                <li>SmartWealth terms and conditions</li>
                                <li>Penal Charges</li>
                                <li>Privacy</li>
                                <li>Quick Money - Top-Up on Car Loan</li>
                                <li>Jaldi Five - Top-Up on Car Loan</li>
                                <li>Jaldi Five - Top-Up on Car Loan</li>
                                <li>Car Loan BT Top-Up Calculator</li>
                                <li>Pre-Approved Car Loan</li>
                                <li>Important Messages</li>
                            </ul>
                        </div>
                    </div>
                </div>   
                <div class="col">
                    <div class="box">
                        <h4>Resources</h4>
                        <div>
                            <ul>
                                <li>Home Loan</li>
                                <li>Non-Withdrawable-Interest-Rates-for-2 Cr-above</li>
                                <li>Interest Rates for 5 Cr and above</li>
                                <li>Ways To Bank</li>
                                <li>Rates</li>
                                <li>Fees & Charges</li>
                                <li>Bank Holiday List</li>
                                <li>Glossary</li>
                                <li>Watch Videos</li>
                                <li>Learning Centre</li>
                                <li>Auction Notices</li>
                                <li>PayZapp</li>
                                <li>Forms Centre</li>
                                <li>Online Services</li>
                            </ul>
                        </div>
                    </div>
                </div>   
                <div class="col">
                    <div class="box">
                        <h4>Calculators</h4>
                        <div>
                            <ul>
                                <li>Home Loan Calculator</li>
                                <li>Personal Loan EMI Calculator</li>
                                <li>Car Loan EMI Calculator</li>
                                <li>Two Wheeler EMI Calculator</li>
                                <li>Fixed Deposit Calculator</li>
                                <li>Recurring Deposit Calculator</li>
                                <li>Car Loan BT Top-Up Calculator</li>
                                <li>Loans On Credit Card EMI Calculator</li>
                                <li>Debit Cards Calculator</li>
                            </ul>
                        </div>
                    </div>
                </div>   
                <div class="col">
                    <div class="box">
                        <h4>Need Help</h4>
                        <div>
                            <ul>
                                <li>Grievance Redressal Digital</li>
                                <li>Product Features and Policy</li>
                                <li>We Care For You</li>
                                <li>FAQs</li>
                                <li>Insta Service</li>
                                <li>Customer Care</li>
                                <li>Grievance Redressal Officer</li>
                                <li>Contact Us</li>
                                <li>Use Of Unparliamentary Language By Customers</li>
                                <li>Active Channel Partners</li>
                                <li>DNC Dedupe</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>   
            </div>
        </div>
        <div class="copyright">
            <p>copyright©2024 Alpha Bank</p> 
            <a href="" style="margin-left: 10px;">Disclaimer</a><a style="margin-left: 10px;"> | </a>
            <a href="" style="margin-left: 10px;">Privacy Policy</a><a style="margin-left: 10px;"> | </a>
            <a href="" style="margin-left: 10px;">Code of Commitment</a><a style="margin-left: 10px;"> | </a>
            <a href="" style="margin-left: 10px;">Responsible Disclosure Policy</a>
        </div>
    </footer>
    
</body>
</html>

</body>
</html>